
<!-- Main Content -->
<div class="container">
	<div class="row">
<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container">

            {{template "layout/_includes/page_content.html" .}}
                <ul class="pager">
                    {{ if  ne .prePage "" }}
                    <li class="previous">
                        <a href="/{{.prePage}}">← Newer Posts</a>
                    </li>
                    {{end}}
                    {{ if  ne .nextPage "" }}
                    <li class="next">
                        <a href="/{{.nextPage}}">Older Posts →</a>
                    </li>
                    {{end}}
                </ul>

    		</div>

        <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
            <!-- Featured Tags -->

        {{template "layout/_includes/featured-tags.html" .}}


            <!-- Short About -->

        {{template "layout/_includes/short-about.html" .}}
            <!-- Friends Blog -->

        {{template "layout/_includes/friends.html" .}}
        </div>
	</div>
    <!-- Sidebar Container -->



</div>

