<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ .site.Description }}">
    <meta name="keywords"  content="{{ .site.Keyword }}">
    <meta name="theme-color" content="{{ .site.ChromeTabThemeColor }}">
    
    <!-- Open Graph -->
    <meta property="og:title" content="{{if ne .page.Title "" }}  {{ .page.Title }} - {{ .site.SEOTitle }}{{else}}{{ .site.SEOTitle }}{{end}}">
    {{/*{% case page.layout %}*/}}
    {{/*{% when 'post' %}*/}}
     {{ if eq .page.Layout "post"}}
    <meta property="og:type" content="article">
    {{/*<meta property="og:description" content="{{ page.excerpt | strip_html | truncate:200 }}">*/}}
    {{/*{% if page.date %}*/}}
     {{if ne .page.Date ""}}
    <meta property="article:published_time" content="{{ .page.Date  }}">
    {{end}}
    {{ if ne .page.Author "" }}
    <meta property="article:author" content="{{ .page.Author }}">
    {{end}}
    {{/*{% for tag in page.tags %}*/}}
    {{ range $index,$tag := .tags }}
    <meta property="article:tag" content="{{ $tag }}">
    {{end}}
    {{else}}
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{if ne .page.Description "" }} {{ .page.Description }}{{ else }}{{ .site.Description }}{{end}}">
    {{end}}
    <meta property="og:image" content="{{ .site.Url }}{{ .site.SidebarAvatar }}">
    <meta property="og:url" content="{{ .site.Url }}{{ .page.Url }}">
    <meta property="og:site_name" content="{{ .site.SEOTitle }}">
    
    <title>{{if ne .page.Title "" }}  {{ .page.Title }} - {{ .site.SEOTitle }}{{ else }}{{ .site.SEOTitle }}{{end}}</title>



    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ .site.BaseUrl }}/static/img/favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/hux-blog.css">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>
